package io.ddd.framework.application.application.${moduleName}.${allLowName}.handler;

import EventHandler;
import EventHandlerI;
import io.ddd.framework.coreclient.dto.common.response.Response;
import io.ddd.framework.coreclient.dto.${moduleName}.${allLowName}.event.${className}DeleteEvent;
import lombok.extern.slf4j.Slf4j;

/**
 * ${comments}
 * @author ${author}
 * @date ${datetime}
 */
@Slf4j
@EventHandler
public class ${className}DeleteEventHandler implements EventHandlerI<Response, ${className}DeleteEvent> {
    
    public Response execute(${className}DeleteEvent event) {
        log.debug("Handling Event:{}",event);
        return Response.success();
    }
}
